# NinjaTrader 8 Git Ignore
/db/
/tmp/
/cache/
/workspaces/
/templates/
/import/
/export/
/incoming/
/outgoing/
/NewsCache/
/Refugiados_Gemini_Temp/
/Recovery/

# Files
*.dll
*.pdb
*.suo
*.user
*.cache
*.xml
!/bin/Custom/**/*.xml

# Bin Folder Logic
/bin/*
!/bin/Custom/

# Backup folders
Backup_Gemini/
